body{
 background:#111;
 color:white;
 font-family:Arial;
}
.card{
 width:250px;
 display:inline-block;
 margin:10px;
 background:#222;
 padding:10px;
 border-radius:10px;
}
.card img{
 width:100%;
 border-radius:10px;
}
button{
 background:red;
 border:none;
 padding:8px;
 color:white;
 cursor:pointer;
}